<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>ProjetFinal-groupe1</title>
    <script src="https://kit.fontawesome.com/19555fa88c.js" crossorigin="anonymous"></script>
</head>
<!-- En-tête -->
<header>
    <div class="titre_choco">
        <img src="http://rosatubes.r.o.pic.centerblog.net/o/7fc748c3.png" class="choco" />
        <h1>The Super Chocolateam Project</h1><img src="http://rosatubes.r.o.pic.centerblog.net/o/7fc748c3.png"
            class="choco" />
    </div>
</header>
<!-- Partie données flux RSS des News du CVE -->
<section class="partie news">
    <div class="titre">
        <img alt="Icon for News NVD" src="https://nvd.nist.gov/site-media/images/LandingPage/apiGuidance800x632.png"
            style="width: 300px; height: 237px;" title="Helping you comply with BOD 22-01">
        <h2>Dernières NVD News</h2>
        <!-- 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM128 416c0 35.3-28.7 64-64 64s-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
        </svg>
-->
    </div>
    <table id="tab_flux">
        <tr>
            <th> Date</th>
            <th> Titre </th>
            <th> Description </th>
            <th> Lien </th>
        </tr>

        {% for i in range(0, len)%}
        <tr>
            <td> {{ entries[i].date }} </td>
            <td> {{ entries[i].title }} </td>
            <td> {{ entries[i].description }} </td>
            <td><a href="{{ entries[i].link }}" target="_blank" title="News">Voir la news</a></td>
        </tr>
        {%endfor%}

    </table>
</section>
<!-- Partie données flux RSS des alertes de sécurités du CVE sur le mois de septembre 2022 -->
<section class="partie alertes">
    <div class="titre">
        <img alt="Icon for CISA Known Exploited Vulnerabilities Catalog Announcement"
            src="https://nvd.nist.gov/site-media/images/LandingPage/kevCatalog800x632.png"
            style="width: 300px; height: 237px;" title="Helping you comply with BOD 22-01">
        <h2>Dashboard</h2>
        <!-- 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
                d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z" />
        </svg>
-->
    </div>
    <div class="dashboard">
        <div class="tableau">
            <h4>5 dernières alertes de sécurité</h4>
            <table id="tab_alertes">
                <tr class="tabTitre">
                    <th> ID </th>
                    <th> Date </th>
                    <th> Score </th>
                    <th> Level </th>
                </tr>

                {% for i in range(-5, -1)%}
                <tr>
                    <td> {{ securities[i].id }} </td>
                    <td> {{ securities[i].date }} </td>
                    <td> {{ securities[i].score }} </td>
                    <td> {{ securities[i].level }} </td>
                </tr>
                {%endfor%}

            </table>
        </div>
    </div>
</section>
<footer>
    <p>©TheSuperChocolateam</p>
    <p>|</p>
    <p><a href="https://github.com/TheSuperChocolateam/ProjetFinal" target="_blank">GitHub</a></p>
</footer>
</body>

</html>